<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <appSettings>
    <add key="MQTT.ServerAddress" value="mqtt-dev.precise.cis.upenn.edu" />
    <add key="MQTT.ServerPort" value="1883" />
    <add key="MQTT.BaseTopic" value="#/PRECISE/IoMT/GearFit2/Data/c5c1928d-72ac-4dbc-8ff3-01cdc43f72f6/HR" />
    <add key="MQTT.Username" value="mqtt-admin" />
    <add key="MQTT.Password" value="precise-mqtt-dev" />
    <add key="MQTT.DumpRootFolder" value="C:\Users\Luv Iyer\My Tresors\Penn\Senior Design\ichor\Watch Data\Luv Test New" />
    <add key="MQTT.DumpCSV" value="true" />
  </appSettings>
</configuration>
